body {
    display: grid;

    grid-template-columns: 0.5fr 1fr 0.5fr;
    gap: 15px;

}

header {
    grid-column: 2/3;

}

header {
    text-align: center;
}

#pagina_inicial {
    grid-column: 2/3;
}

#titulo {
    text-align: center;
}
