body {
    display: grid;

    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows:auto 1000px 1fr;
    gap: 5px;

    position: relative;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

header {
    text-align: center;
    font-size: 30px;
    background-color: brown;
    grid-column: 1/-1;
}

#pagina_inicial {
    grid-column: 1 / -1; 

    background-color: green; 

    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr; 
    gap: 15px;
    
    padding: 60px 0; 
}

#textoinicial {
    grid-column: 2/3;
    text-align: center;
}

#titulo {
    text-align: center; 
}

.hero {
    grid-column: 1/-1;
    grid-row: 2/-3;

    background-image: url('formigagentio.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 60hv;

    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    text-align: justify;
}

.hero-content {
    font-size: 50px;
}
