body {
    display: grid;

    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: auto 1000px 1fr;
    position: relative;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

header {
    display: flex;
    text-align: center;
    font-size: 30px;
    background-color: white;
    grid-column: 1/-1;
}

header img {
    justify-content: flex-start;
    height: auto;
    width: 150px;
}

#pagina_inicial {
    grid-column: 1 / -1; 
    grid-row: 3/4;

    background-color: green; 

    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr; 
    gap: 15px;
    
    padding: 60px 0; 
}

#textoinicial {
    grid-column: 2/3;
    text-align: center;
}

#titulo {
    text-align: center; 
}

.hero {
    grid-column: 1/-1;
    grid-row: 2/-3;

    background-image: url('formigagentio.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 62;

    display: flex;
    align-items:flex-end;
    justify-content: flex-start;
    text-align: center;
}

.hero-content {
    font-size: 50px;
}

article {
    background-color: beige;
    border: solid black 2px;
    padding: 20px;
}

article img{
    border-radius: 50%;
    height: 40%;
    width: 40%;
    margin: 0;
    float: right;
}

